{{ define "login" }}
{{template "header" .}}

<body>
  <div class="wrapper">
    {{template "nav" .}}
    <div class="bodySectionLogin">
      <h2 class="formName">Login</h2>
      <form id="loginForm" action="/login" method="post">
        <table>
          <tbody>
            <tr>
              <td>username:</td>
              <td><input id="username" type="text" name="Username" size="20" autocorrect="off" spellcheck="false"
                  autocapitalize="off" autocomplete="username" autofocus></td>
              <td colspan="2">
                <span id="name-error" class="error-message"></span>
              </td>
            </tr>
            <tr>
              <td>password:</td>
              <td><input id="password" type="password" name="Password" size="20" autocomplete="current-password"></td>
              <td colspan="2">
                <span id="password-error" class="error-message"></span>
              </td>
            </tr>
          </tbody>
        </table><br>
        <input class="formButton" type="submit" value="login">
      </form>
    
      <h2 class="formName">Create Account</h2>
      <form id="createAccountForm" action="/create" method="post">
        <table>
          <tbody>
            <tr>
              <td>username:</td>
              <td><input id="usernameCreate" type="text" name="createUser" size="20" autocorrect="off" spellcheck="false" autocapitalize="off">
              </td>
               <td colspan="2">
                <span id="createusername-error" class="error-message"></span>
              </td>
            </tr>
            <tr>
              <td>password:</td>
              <td><input id="passwordCreate" type="password" name="createPassword" size="20"></td>
               <td colspan="2">
                <span id="createpassword-error" class="error-message"></span>
              </td>
            </tr>
          </tbody>
        </table><br>
        <input class="formButton" type="submit" value="create account">
      </form>
      {{ end }}
    </div>
  </div>
</body>

</html>