* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {}

.wrapper {
    width: 85%;
    margin: 0 auto;

}

nav {
    text-align: center;
    background-color: #ff6600;
    margin-top:10px;
    padding:3px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;

}

nav li {
    display: inline-block;
}

.titleSite{
    font-weight:bolder;
    margin-right:10px;
}
nav li a {
    text-decoration: none;
     font-size:16px; 
     color: #000000;
}

.hNav {
    display: flex;
}

.bodySection {
    background-color: #f6f6ef;
    height: 100vh;
    display: flex;
    justify-content: center;

}