* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
}

body {}

p {
    font-size: 12px;
}

.wrapper {
    width: 85%;
    margin: 0 auto;

}

nav {
    text-align: center;
    background-color: #ff6600;
    margin-top: 10px;

}

nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;


}

nav li {
    display: inline-block;
    padding-bottom: 5px;

}

nav li a {
    text-decoration: none;
    font-size: 12px;
    color: #000000;

}

ul li:last-child {
    float: right;
    margin-right: 10px;
}

.titleSite {
    font-weight: bolder;
    margin-right: 10px;
}

.hNav {
    display: flex;
}

.bodySection {
    background-color: #f6f6ef;
    height: 100vh;
    display: flex;
    justify-content: center;
}


.bodySectionLogin {
    background-color: #f6f6ef;
    height: 100vh;

    padding-top:30px;

}

.formName {
    font-size: 20px;
    padding-left:20px;
}

.formButton{
    background-color:#ff6600;
    padding:5px;
    border:none;
    font-weight:900;
    margin-bottom:20px;
}

form{
    padding:20px;
}